.cache
compile_commands.json
*.swp
build/
sdkconfig
sdkconfig.old
dependencies.lock
managed_components/
__pycache__/
out/
_build/
tools/chip-tool/
.cipd-cache-dir/
*.stamp
local.mak
.bash_history
.espressif/
.local/
